<%- include('./includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
</head>

<div class="backdrop"></div>

<body>
  <section class="main-content">
    <h1 class="main-content__page-title">Choredos Reset Password</h1>
    <% if (errorMessage) { %>
    <div class="user-message user-message--error"><%= errorMessage %></div>
    <% } %>
    <form class="main-content__form" action="<%= isResetRequest ? '/reset-password' : '/change-password' %>" method="POST">
      <% if (isResetRequest) { %>
      <div class="main-content__field">
        <label for="email">Email</label>
        <input name="email" id="email" type="email">
      </div>
      <% } else { %>
      <div class="main-content__field">
        <label for="email">Email</label>
        <input name="email" id="email" type="email" value="<%= email %>" readonly>
      </div>
      <div class="main-content__field">
        <label for="password">Password</label>
        <input name="password" id="password" type="password">
      </div>
      <div class="main-content__field">
        <label for="confirmPassword">Confirm Password</label>
        <input name="confirmPassword" id="confirmPassword" type="password">
      </div>
      <div class="main-content__field main-content__one-column">
        <label class="switch">
          Show Password
          <input type="checkbox" id="showPassword">
          <span class="slider round"></span>
        </label>
      </div>
      <input type="hidden" name="userId" value="<%= userId %>">
      <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
      <% } %>
      <button id="submit" type="submit" class="btn"><%= isResetRequest ? "Send Reset Email" : "Change Password" %></button>
    </form>
    <a href="/signup" class="btn">Go to Signup</a>
    <a href="/login" class="btn">Go to Login</a>
  </section>

  <script src="/js/main.js"></script>
  <%- include('./includes/end.ejs') %>